.header {
    background-color: #333333;
	color: #fff;
}

.section {
    background-color: #555555;
}

.main {
    color: #fff;
    background-color: #818181;
}

.section ul li:hover {
	background-color: #222222;
	border: 1px solid #222222;
}

.section ul li a {
    color: rgb(255, 255, 255);
}

.card {
    background-color: #6e6e6e;
}

#changemode {
    background-color: #cacaca;
    color: #000000;
}