<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Organize Tasks</title>
  <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}">
  <link id="source" rel="stylesheet" href="{% static 'tasks/css/lightmode.css' %}">

</head>

<body>
  
		<div class="header">
			<div class="page-title">Tasks</div>
			<div class="options">
				<ul>
					<li><a href="{% url 'tasks:index' %}">View tasks</a></li>
					<li><a href="{% url 'tasks:add'  %}">New task</a></li>
				</ul>
				<input type="button" id="changemode" value="Dark Mode" 
				data-lightmode="{% static "tasks/css/lightmode.css" %}"
				data-darkmode="{% static "tasks/css/darkmode.css" %}">
			</div>
		</div>

		<div class="main">
	  	{% block body %}
  		{% endblock body %}
		</div>

	<script src="{% static "tasks/js/darkmode.js" %}"></script>

</body>

</html>
