@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
}

.header {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 5px solid #c6c6c6;
	box-shadow: 0 5px 8px #e8e8e8;
}

.options {
	display: flex;
  align-items: center;
	gap: 100px;
}

.options ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 30px;
}

.options ul a {
  position: relative;
	text-decoration: none;
	color: #474747;
	transition: 0.2s ease;
}

.options ul a:hover {
  color: #1a1a1a;
}

.page-title {
	font-size: 30px;
	font-weight: 600;
	color: #474747;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.main h1 {
	font-weight: 500;
}

.main ul {
	padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
	flex-direction: column;
  gap: 20px;
}

.card {
	background-color: #e8e8e8;
	border: 4px solid #c6c6c6;
	width: 85vh;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 5px 8px #dcdcdc;
}

.card .task-title {
  font-size: 20px;
  font-weight: 600;
}

form {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

#id_task {
	padding: 5px;
}

#id_description {
	padding: 5px;
  height: 100px;
}